@charset "UTF-8";

#search{
    width: 958px;
    height: 80px;
    margin-top: 20px;
}

#search>div{
    width: 958px;
    height: 30px;
    margin-bottom: 10px;
}

.search_left{
    width: 383px;
    height: 30px;
    float: left;
    margin-right: 5px;
}

.search_culomn{
    width: 90px;
    height: 25px;
    margin-right: 5px;
    padding-top: 5px;
    border : 1px solid rgb(190,190,190);
    background-color: rgb(224,224,224);
    float: left;
    color: rgb(92,92,92);
    text-align: center;
    border-radius: 5px;
}

.search_left_value{
    width: 120px;
    height: 30px;
    margin-right: 5px;
    border : 1px solid rgb(190,190,190);
    border-radius: 5px;
    float: left;
}

.search_left_value>input{
    width: 105px;
    height: 30px;
    margin-left: 10px;
}

.search_center{
    width: 317px;
    height: 30px; 
   
    float: left;
}

.search_center_value{
    width: 163px;
    height: 30px;
    margin-right: 5px;
    border : 1px solid rgb(190,190,190);
    border-radius: 5px;
    float: left;
}

.search_center_value>select{
    width: 142px;
    height: 30px;
    margin-left: 10px;
}

.search_center input,  .search_left>input[type="button"]{
    width: 30px;
    height: 30px;
    float:left;
    background-color: rgb(224,224,224);
    background-image:url("../img/search.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(190,190,190);
    border-radius: 5px;
    margin-left: 0px;
}
.search_right{
    width: 250px;
    height: 30px;
    border : 1px solid rgb(190,190,190);
    border-radius: 5px;
    float: left;
}

#current_menu{
    width: 100%;
    height: 25px;
    padding-top: 5px;
    background-color: rgb(224,224,224);;
    color: rgb(92,92,92);
    text-align: center;
    border-radius: 5px;
}

#search_input>input[type="button"]{
    width: 30px;
    height: 30px;
    float: left;
    background-color: rgb(224,224,224);
    background-image:url("../img/search.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-right: 1px solid rgb(190,190,190);
}

#search_input>input[type="text"]{
    width: 100%-30px;
    height: 30px;
    margin-left: 10px;
    float: left;
}

#content{
    width: 958px;
    height: 360px;
}

#top{
    width: 958px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

#top>div{
    font-size: 12px;
    padding-top: 5px;
}

#download{
    width: 95px;
    padding-top: 5px;
    background-image: url("../img/download_green.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: right;
    background-position-y: center;
    background-color: transparent;
    text-align: left;
    font-size: 12px;
}

#summary{
    width: 958px;
    height: 340px;
}

table{
    width: 958px;
    height: 340px;
    border: 1px solid rgb(190,190,190);
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

thead{
    font-weight: bold;
    background-color: rgb(224,224,224);
}

tbody{
    font-size: 14px;
}

tr, td{
    border: 1px solid rgb(190,190,190);
}

td{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.clikedRow:hover{
    color: white;
    background-color: rgb(46,204,113);
    cursor: pointer;
}

input[type='date']::-webkit-calendar-picker-indicator{
    cursor: pointer;
}