@charset "UTF-8";

#error{
	width: 500px;
	height: 500px;
	margin: 0px auto;
	position : relative;
	top : 50px;
}

#img404, #img500{
	width: 500px;
	height: 300px;
	margin : 0px auto;
	background-position: center;
	background-repeat: no-repeat;
}

#img404{
	background-size: 380px;
	background-image: url("https://data1.pokemonkorea.co.kr/newdata/pokedex/full/012401.png");
}

#img500{
	background-size: 330px;
	background-image: url("https://data1.pokemonkorea.co.kr/newdata/pokedex/full/012201.png");
}

#txt{
	width: 500px;
	height: 120px;
	margin: 0px auto;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	color: rgb(92,92,92);
}

#btn{
	width: 300px;
	height: 50px;
	margin: 0px auto;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	border : 1px soild rgb(190,190,190);
	border-radius: 10px;
	background-color : rgb(224,224,224);
	color: rgb(92,92,92);
}

#btn:hover {
	cursor: pointer;
	background-color: rgb(46,204,113);
	color: white;
}