@charset "UTF-8";

main{
	display: flex;
}

#index{
	margin: 0px auto;
}

#isLoginFalse{
	/* display: none; */
	width: 600px;
	height: 500px;
	background-image: url("../img/campaign.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

#gologinBtn{
	width: 100px;
	height: 100px;
	margin-top: 200px;
	margin-left: 250px;
	border-radius: 100%;
	border : 1px solid rgb(190,190,190);
	background-color: rgb(224,224,224);
	color: rgb(92,92,92);
	font-size: 1.2em;
	font-weight: bold;
}

#gologinBtn:hover, #notifyBtn:hover{
	color : white;
	background-color: rgb(46,204,113);
}

#gologinBtn:hover{	
	box-shadow: 0px 0px 15px 1px rgb(190,190,190);
}

#isLoginTrue{
	width: 450px;
	height: 380px;
	padding-top: 120px;
	text-align: center;
	/* display: none; */
}

#loginUser{
	width: 450px;
	height: 200px;
	border : 1px solid rgb(190,190,190);
	border-radius: 10px;
	display: flex;
	/* display: none; */
}

#photo{
	width: 130px;
	height: 180px;
	margin: 10px;
	border : 1px solid rgb(190,190,190);
	border-radius: 10px;
	background-image: url("https://data1.pokemonkorea.co.kr/newdata/pokedex/full/012401.png");
	background-repeat: no-repeat;
	background-size: 300px auto;
	background-position-x: -85px;
	background-position-y: -15px;
}

#info{
	width: 300px;
	height: 200px;
}

#info>table{
	width: 300px;
	height: 150px;
	margin: 25px auto;
}

.notifyTxt{
	font-weight: bold;
}

#notifyBtn{
	width: 100px;
	height: 30px;
	border-radius: 10px;
	border : 1px solid rgb(190,190,190);
	background-color: rgb(224,224,224);
	color: rgb(92,92,92);
	font-size: 1.2em;
	font-weight: bold;
}