@charset "UTF-8";

#login_wrap{
	width: 400px;
	height: 400px;
	margin : 0px auto;
	position : relative;
	top : 100px;
}

#login_top{
	height: 100px;
	position: relative;
}

#logo{
	width: 80%;
	height: 60px;
	margin: 0px auto;
	position: absolute;
	left : 40px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
}

#login_content{
	min-height : 150px;
	max-height: 200px;
	border: 1px solid rgb(224,224,224);
	border-radius: 20px;
}

#login_input{
	height: 150px;
	border: 1px solid green;
}

.login_input{
	height: 60px;
	border : 1px solid purple;
}

#login_id{
	margin-top: 30px;
}

#login_confirm{
	height: 50px;
	border: 1px solid green;
}

#login_bot{
	height : 100px;
	border: 1px solid blue;
}

#lgoin_button{
	height: 60px;
	border: 1px solid green;
	position: relative;
	top : 20px;
}