@charset "UTF-8";

main{
	display: flex;
}

#index{
	margin: 0px auto;
}

#index>div{
	height: 500px;
	text-align: center;
}

#isLoginFalse{
	display: none;
	width: 600px;
	background-image: url("../img/campaign.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

#loginBtn{
	width: 100px;
	height: 100px;
	margin-top: 200px;
	border-radius: 100%;
	border : 1px solid rgb(190,190,190);
	background-color: rgb(224,224,224);
	color: rgb(92,92,92);
	font-size: 1.2em;
	font-weight: bold;
}

#loginBtn:hover{
	color : white;
	background-color: rgb(46,204,113);
	box-shadow: 0px 0px 15px 1px rgb(190,190,190);
}

#isLoginTrue{
	width: 450px;
	height: 500px;
	/* display: none; */
}

#loginUser{
	width: 450px;
	height: 200px;
	margin-top: 100px;
	display: flex;
}

#photo{
	width: 150px;
	height: 200px;
	border: 1px solid blue;
	background-image: url("https://data1.pokemonkorea.co.kr/newdata/pokedex/full/012401.png");
	background-repeat: no-repeat;
	background-size: 300px auto;
	background-position-x: -75px;
	background-position-y: -20px;
}

#info{
	width: 300px;
	height: 200px;
	border: 1px solid red;
}

#comfirm{
	width: 450px;
	height: 50px;
	border: 1px solid green;
}

#notify{
	display: none;
}

