@charset "UTF-8";

#detail_info{
    width: 600px;
    height: 310px;
    margin: 0 auto;
}

#detail_info_top{
    width: 600px;
    height: 180px;
    display: flex;
    justify-content: center; /* Center align the content horizontally */
  	align-items: center; /* Center align the content vertically */
}

#detail_right>.detail_line{
    width: 600px;/*수정*/
}

.detail_line{
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center; /* Center align the content vertically */
}

.column{
    width: 110px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    color: rgb(92,92,92);
    background-color: rgb(224,224,224);
    border: 1px solid rgb(190,190,190);
    border-radius: 5px;
    
}

.column>h5{
	color: black;
	font-weight: bold;
}

.long{
    flex-grow: 1; /* Allow the element to grow and fill available space */
  	height: 30px;
    padding-left: 10px;/*수정*/
    border: 1px solid rgb(190,190,190);
    border-radius: 5px;
    width: calc(100% - 110px);
}

#detail_right{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.non_change{
    background-color: rgb(224,224,224);
}

#summary{
    width: 600px;
    height: 125px;
}
table{
    width: 600px;
    height: 125px;
    border: 1px solid rgb(190,190,190);
    border-collapse: collapse;
    text-align: center;
   	margin-top: 10px;
}
tr, td{
    border: 1px solid rgb(190,190,190);
}

thead{
    font-weight: bold;
    background-color: rgb(224,224,224);
}

tbody{
    font-size: 10px;
}


#detail_btns{
    width: 600px;
    height: 30px;
    margin: 15px auto;
    display: flex;
    justify-content: right;
}

#detail_btns>input[type="button"]{
    width: 95px;
    height: 30px;
    margin-left: 10px;
    color: rgb(92,92,92);
    font-size: 0.9em;
    font-weight: bold;
    background-color: rgb(224,224,224);
    border: 1px solid rgb(190,190,190);
    border-radius: 5px; 
}

#detail_btns>input[type="button"]:hover{
    color: white;
    background-color: rgb(46,204,113);
}