@charset "UTF-8";

main{
    width: 958px;
    height: 500px;
    margin-left:10px;
}

#search{
    width: 958px;
    height: 80px;
    margin-top: 20px;
}

#search>div{
    width: 958px;
    height: 30px;
    margin-bottom: 10px;
}

.search_culomn{
    width: 100px;
    height: 25px;
    margin-right: 5px;
    padding-top: 5px;
    border : 1px solid rgb(190,190,190);
    background-color: rgb(224,224,224);
    float: left;
    color: rgb(92,92,92);
    text-align: center;
    border-radius: 5px;
}

.search_center{
    width: 315px;
    height: 30px; 
    margin-right: 15px;
    float: left;
    display: flex;
    align-items: center;
}

.search_center_value{
    width: 200px;
    height: 30px;
    margin-right: 5px;
    border : 1px solid rgb(190,190,190);
    border-radius: 5px;
    float: left;
    display: flex;
   
}
.search_center_value>select{
    width: 180px;
    height: 30px;
    margin-left: 10px;
}
.search_center input{
    width: 40px;
    height: 30px;
    float:right;
    background-color: rgb(224,224,224);
    background-image:url("../img/search.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(190,190,190);
    border-radius: 5px;
    margin-left: 0px;
}

.search_right{
    width: 250px;
    height: 30px;
    border : 1px solid rgb(190,190,190);
    border-radius: 5px;
    float: right;
}

#current_menu{
    width: 100%;
    height: 25px;
    padding-top: 5px;
    background-color: rgb(224,224,224);;
    color: rgb(92,92,92);
    text-align: center;
    border-radius: 5px;
}

#search_input>input[type="button"]{
    width: 30px;
    height: 30px;
    float: left;
    background-color: rgb(224,224,224);
    background-image:url("../img/search.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-right: 1px solid rgb(190,190,190);
}

#search_input>input[type="text"]{
    width: calc(100%-30px);
    height: 30px;
    margin-left: 10px;
    float: left;
}

#content{
    width: 958px;
    height: 360px;
}

#top{
    width: 958px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

#top>div{
    font-size: 12px;
    padding-top: 5px;
}

#view_sal{
    background-image: url("../img/stand.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: right;
    background-position-y: center;
    background-color: transparent;
    text-align: left;
    font-size: 12px;
}

#view_sal:hover{
	background-image: url("../img/new_ani_run_22.png");
}

#download{
    width: 95px;
    padding-top: 5px;
    background-image: url("../img/download_green.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: right;
    background-position-y: center;
    background-color: transparent;
    text-align: left;
    font-size: 12px;
}

#summary{
    width: 958px;
    height: 340px;
}

table{
    width: 958px;
    height: 340px;
    border: 1px solid rgb(190,190,190);
    border-collapse: collapse;
    text-align: center;
}

tr, td{
    border: 1px solid rgb(190,190,190);
}

tbody>tr[name="clikedRow"]:hover{
    color: white;
    background-color: rgb(46,204,113);
    cursor: pointer;
}

thead{
    font-weight: bold;
    background-color: rgb(224,224,224);
}

tbody{
    font-size: 14px;
}

tbody tr td{
	
}

#page{
    min-width: 102px;
    max-width: 238px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.page{
    width: 30px;
    height: 30px;
    margin: 10px 2px 0px;
    border: 1px solid rgb(190,190,190);
    border-radius: 5px;
    background-color: rgb(224,224,224);
    text-align: center;
}

.page:hover{
    color: white;
    background-color: rgb(46,204,113);
}