@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#outline{
	width: 978px;
	height: 600px;
	margin : 0px auto;
	position: relative;
    border: 1px solid red;
}

#details_outline{
    width: 620px;
	height: 380px;
	margin : 0px auto;
	position: relative;
    border: 1px solid red;
}

header{
    width: 978px;
    height: 60px;
}

header>div{
    width: 100px;
    height: 60px;
    float: left;
    text-align: center;
}

#logo{
    width: 200px;
    height: 60px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: auto 60px;
    background-position-x: center;
    background-position-y: 3.5px;
}

#logo:hover{
	cursor: pointer;
}

.menus{
    height: 30px;
    margin: 20px 10px 10px;
}

.menuMove{
    text-decoration: none;
    color: rgb(92,92,92);
}

.menuMove:hover{
    color: rgb(46,204,113);
    text-decoration-line: underline;
    cursor: pointer;
}

#isLoginFalse, #isLoginTrue{
	width: 315px;
	height: 40px;
	margin: 10px 10px 5px;
	float: right;
	display: flex;
}

#login_notify, #login_extension{
	height: 30px;
    margin: 10px 0px;
    display: flex;
}

#login_notify{
	width: 195px;
}

#login_extension{
    width: 80px;
}

#login_timer{
    width: 40px;
}

#notifyBtn, #login_extension_btn{
    width: 30px;
    height: 20px;
    margin-left: 5px;
    font-size: 12px;
    border : 1px solid rgb(190,190,190);
    border-radius: 2px;
    background-color: rgb(224,224,224);
}

#logoutBtn, #loginBtn{
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    background-color: transparent;
}

#logoutBtn{
	background-image: url("../img/logout.svg");
	
	transform: rotate(90deg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#loginBtn{
	background-image: url("../img/login.svg");
}

main{
    width: 958px;
    height: 500px;
    margin-left:10px;
    margin-top: 20px;
}

footer{
    width: 978px;
    height: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

input, select{
	border: none;
}

input[type="button"]:hover, input[type="date"]:hover, select:hover{
    cursor: pointer;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, select:focus{
    outline: none;
}