@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

#outline{
	width: 978px;
	height: 600px;
	margin : 0px auto;
	position: relative;
}

header{
    width: 978px;
    height: 60px;
}

header>div{
    width: 100px;
    height: 60px;
    float: left;
    text-align: center;
}

.menus{
    height: 30px;
    margin: 20px 10px 10px;
}

.menus a{
    text-decoration: none;
    color: rgb(92,92,92);
}

.menus a:hover{
    color: rgb(46,204,113);
    text-decoration-line: underline;
}

#logo{
    width: 200px;
    height: 60px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: auto 60px;
    background-position-x: center;
    background-position-y: 3.5px;
}

#logout{
    width: 50px;
    height: 50px;
    float: right;
    margin-top : 10px;
    background-image: url("../img/logout_green.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    background-color: transparent;
}

footer{
    width: 978px;
    height: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

input, select{
	border: none;
}

input[type="button"]:hover, input[type="date"]:hover, select:hover{
    cursor: pointer;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, select:focus{
    outline: none;
}